<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nhodo.com - Mã giảm giá {{ cat }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<style>
    .card-horizontal {
    margin: 10;
    display: flex;
    flex: 1 1 auto;
}
    .card {
     margin: 10px;
    }
</style>
<body>
<div class="modal" tabindex="-1" role="dialog" id="exampleModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Mã giảm giá {{ cat }} </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="clickCopy()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p><input readonly="readonly" type="text" class="form-control" id="copy-input" value=""/></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="copy" onClick="clickCopy()">Copy mã</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" onClick="clickCopy()">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <h3>Mã giảm giá {{ cat }}</h3>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                       aria-controls="home" aria-selected="true">Tổng hợp<span class="badge badge-light">{{ countall }}</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="coupon-tab" data-toggle="tab" href="#coupon" role="tab"
                       aria-controls="coupon" aria-selected="false">Coupon<span class="badge badge-light">{{ countcoupon }}</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="deal-tab" data-toggle="tab" href="#deal" role="tab"
                       aria-controls="deal" aria-selected="false">Deal<span class="badge badge-light">{{ countdeal }}</span></a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    {% if listall %}
                    {% for item in listall %}
                    <div class="card">
                        <div class="card-horizontal">
                            <div class="rounded float-left">
                                <img class="img-responsive" src="/static/images/{{ item.shop_name }}.png" alt="Card image cap">
                                <div class="card-footer">
                            <small class="text-uppercase">{{ item.shop_name }} <br> {{ item.type }} <br> {{ item.value }}</small>
                        </div>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">{{ item.title }}</h5>
                                <p class="card-text">Ngành hàng: {{ item.category }}</p>
                                <p class="card-text">Mô tả: {{ item.description }}</p>
                                <p class="card-text">Ngày hết hạn: {{ item.date_end }}</p>
                                {% if item.voucher == '' %}
                                <a target="_blank" rel="noopener noreferrer" type="button" class="btn btn-outline-info float-right" href="{{ item.link }}">Nhận ưu đãi</a>
                                {% else %}
                                <button type="button" class="btn btn-outline-info float-right" value="{{ item.voucher }}"
                                        data-toggle="modal" data-target="#exampleModal" onclick="clickVoucher(this.value)">Lấy mã</button>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
                <div class="tab-pane fade" id="coupon" role="tabpanel" aria-labelledby="coupon-tab">
                    {% if list_coupon %}
                    {% for item in list_coupon %}
                    <div class="card">
                        <div class="card-horizontal">
                            <div class="rounded float-left">
                                <img class="img-responsive" src="/static/images/{{ item.shop_name }}.png" alt="Card image cap">
                                <div class="card-footer">
                            <small class="text-uppercase">{{ item.shop_name }} <br> {{ item.type }} <br> {{ item.value }}</small>
                        </div>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">{{ item.title }}</h5>
                                <p class="card-text">Ngành hàng: {{ item.category }}</p>
                                <p class="card-text">Mô tả: {{ item.description }}</p>
                                <p class="card-text">Ngày hết hạn: {{ item.date_end }}</p>
                                {% if item.voucher == '' %}
                                <a target="_blank" rel="noopener noreferrer" type="button" class="btn btn-outline-info float-right" href="{{ item.link }}">Nhận ưu đãi</a>
                                {% else %}
                                <button type="button" class="btn btn-outline-info float-right" value="{{ item.voucher }}"
                                        data-toggle="modal" data-target="#exampleModal" onclick="clickVoucher(this.value)">Lấy mã</button>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
                <div class="tab-pane fade" id="deal" role="tabpanel" aria-labelledby="deal-tab">
                    {% if list_deal %}
                    {% for item in list_deal %}
                    <div class="card">
                        <div class="card-horizontal">
                            <div class="rounded float-left">
                                <img class="img-responsive" src="/static/images/{{ item.shop_name }}.png" alt="Card image cap">
                                <div class="card-footer">
                            <small class="text-uppercase">{{ item.shop_name }} <br> {{ item.type }} <br> {{ item.value }}</small>
                        </div>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">{{ item.title }}</h5>
                                <p class="card-text">Ngành hàng: {{ item.category }}</p>
                                <p class="card-text">Mô tả: {{ item.description }}</p>
                                <p class="card-text">Ngày hết hạn: {{ item.date_end }}</p>
                                {% if item.voucher == '' %}
                                <a target="_blank" rel="noopener noreferrer" type="button" class="btn btn-outline-info float-right" href="{{ item.link }}">Nhận ưu đãi</a>
                                {% else %}
                                <button type="button" class="btn btn-outline-info float-right" value="{{ item.voucher }}"
                                        data-toggle="modal" data-target="#exampleModal" onclick="clickVoucher(this.value)">Lấy mã</button>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-header"><b>LỌC MÃ THEO SHOP</b></div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a href="../ma-giam-gia/?shop=shopee">Shopee</a></li>
                <li class="list-group-item"><a href="../ma-giam-gia/?shop=tiki">Tiki</a></li>
                <li class="list-group-item"><a href="../ma-giam-gia/?shop=lazada">Lazada</a></li>
                <li class="list-group-item"><a href="../ma-giam-gia/?shop=sendo">Sendo</a></li>
                <li class="list-group-item"><a href="../ma-giam-gia/?shop=adayroi">Adayroi</a></li>
                </ul>
            </div>
            <div class="card">
                <div class="card-header"><b>LỌC MÃ THEO NGÀNH HÀNG</b></div>
                <div class="card-body"><a href="../khuyen-mai/?category=hau-het-cac-nganh-hang">Hầu Hết Các Ngành Hàng</a></div>
                <div class="card-body"><a href="../khuyen-mai/?category=dien-thoai-may-tinh-bang">Điện Thoại & Máy Tính Bảng</a></div>
                <div class="card-body"><a href="../khuyen-mai/?category=thiet-bi-dien-gia-dung">Thiết Bị Điện Gia Dụng</a></div>
                <div class="card-body"><a href="../khuyen-mai/?category=tivi-thiet-bi-nghe-nhin">Tivi & Thiết bị nghe nhìn</a></div>
                <div class="card-body"><a href="../khuyen-mai/?category=laptop-may-vi-tinh">Laptop - Máy Vi Tính</a></div>
                <div class="card-body"><a href="../khuyen-mai/?category=me-be-do-choi">Mẹ, Bé & Đồ Chơi</a></div>
                <div class="card-body"><a href="../khuyen-mai/?category=suc-khoe-sac-dep">Sức Khỏe Sắc Đẹp</a></div>
                <div class="card-body"><a href="../khuyen-mai/?category=nha-cua-doi-song">Nhà Cửa - Đời sống</a></div>
                <div class="card-body"><a href="../khuyen-mai/?category=dien-tu-tieu-dung">Điện Tử Tiêu Dùng</a></div>
                <div class="card-body"><a href="../khuyen-mai/?category=du-lich-giai-tri">Du Lịch & Giải Trí</a></div>
                <div class="card-body"><a href="../khuyen-mai/?category=hang-tieu-dung">Hàng Tiêu Dùng</a></div>
                <div class="card-body"><a href="../khuyen-mai/?category=bach-hoa-online">Bách Hóa Online</a></div>
                <div class="card-body"><a href="../khuyen-mai/?category=voucher-an-uong-spa-nghi-duong-ve-phim">Voucher Ăn Uống, Spa, Nghỉ Dưỡng, Vé Phim</a></div>
                <div class="card-body"><a href="../khuyen-mai/?category=taxi-giao-hang-goi-do-an">Taxi, Giao Hàng, Gọi Đồ Ăn</a></div>
                <div class="card-body"><a href="../khuyen-mai/?category=the-thao">Thể Thao</a></div>
                <div class="card-body"><a href="../khuyen-mai/?category=o-to-xe-may-xe-dap">Ô tô, xe máy, xe đạp</a></div>
                <div class="card-body"><a href="../khuyen-mai/?category=sach">Sách</a></div>
                <div class="card-body"><a href="../khuyen-mai/?category=khoa-hoc">Khóa Học</a></div>
                <div class="card-body"><a href="../khuyen-mai/?category=dung-cu-hoc-tap-van-phong-pham">Dụng Cụ Học Tập - Văn Phòng Phẩm</a></div>
                <div class="card-body"><a href="../khuyen-mai/?category=ve-may-bay">Vé Máy Bay</a></div>
                <div class="card-body"><a href="../khuyen-mai/?category=the-cao-dien-thoai-the-game">Thẻ cào điện thoại, thẻ game</a></div>
                <div class="card-body"><a href="../khuyen-mai/?category=bi-mat-phong-ngu">Bí Mật Phòng Ngủ</a></div>
                <div class="card-body"><a href="../khuyen-mai/?category=gia-dung-noi-that">Gia Dụng & Nội Thất</a></div>
                <div class="card-body"><a href="../khuyen-mai/?category=thiet-bi-so-phu-kien-so">Thiết Bị Số - Phụ Kiện Số</a></div>
                <div class="card-body"><a href="../khuyen-mai/?category=thoi-trang-phu-kien">Thời Trang & Phụ Kiện</a></div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script>
$(document).ready(function(){
  $(".nav-tabs a").click(function(){
    $(this).tab('show');
  });

});

function clickCopy() {
  /* Get the text field */
  var copyText = document.getElementById("copy-input");
  /* Select the text field */
  copyText.select();
  copyText.setSelectionRange(0, 99999); /*For mobile devices*/
  /* Copy the text inside the text field */
  document.execCommand("copy");
  /* Alert the copied text */
<!--  alert("Copy thành công: " + copyText.value);-->
  window.open("https://fb.com", "_blank");
}

function clickVoucher(code) {
    $("#copy-input").val(code);
}
</script>
</body>
</html>